*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #bcb8b8;
}
h1{
    text-align: center;
    font-size: 30px;
    padding: 70px 0 30px 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px 0;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
    border-radius: 35px;
    border: 1px solid gray;
    font-size: 20px;
    font-weight: bold;
}
.card img {
    width: 60%;
    padding: 20px 0;
}
