*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4f6f51;
}
.months-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 30px;
}
.month-card{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 10px;
    width: 200px;
    height: 200px;
    background-color: #d2e3c9;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.month-card:hover{
    transform: scale(1.05);
}
h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    color: #777e75;
}