body{
    margin: 0;
    padding: 0;
    background-color: DarkGray;
}
.Batman{
    margin-left: 15px;
}
.poster{
    height: 112px;
    width: 76px;
    margin-right: 15px;
    margin-left: 10px;
}
h1 {
    display: flex;
    align-items: self-end;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
}
.movie-title {
    font-size: inherit;
    font-weight: inherit;
}
h1 i{
    font-size: 14px;
    font-weight: normal;
}
p{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
}
p:hover {
    transform: scale(1.1);
}
p img {
    display: block;
}
.actor-name{
    display: block;
    font-weight: bold;
    margin-top: 5px;
}
.actor-role {
    display: block;
    font-size: 14px;
    color: DimGray;
}
