*{
    margin: 0;
    padding: 0;
}
.flex{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffe2c4;

}
.circle{
    width: 100px;
    height: 100px;
    background-color: #fe0000;
    transition: 1s;
}
.circle:hover{
    border-radius: 50%;
    background-color: #808080;
    transition: 2s;
}