* {
    margin: 0;
    padding: 0;
}
.rubik-pixels {
    font-family: "Rubik Pixels", system-ui;
}
.sedgwick-ave {
    font-family: "Sedgwick Ave Display", cursive;
}
.dancing-script {
    font-family: "Dancing Script", cursive;
}
.fjalla {
    font-family: "Fjalla One", sans-serif;
}
.indie-flower {
    font-family: "Indie Flower", cursive;
}
.fonts_family {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.font {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe4c4;
    width: 200px;
    height: 200px;
    font-weight: bold;
    font-size: 15px;
}